/*
    Note: This app is not heavily dependent to the css that's only maintain a single css file.
*/

/* body {
	font-family: 'Raleway', sans-serif;
	background: #d3d3d3;
	min-height: 100vh;
}
.w3-bar {
	margin-bottom: 20px;
}
/* LandingPage Component styles */
/* .bgimg {
	background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
	min-height: 100vh;
	background-position: center;
	background-size: cover;
}

.center-to-screen {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
} */
